@model Task_Aplication.Models.Login
@{
    ViewData["title"] = "Iniciar sesión";   
    Layout = "_LayoutAuth"; 
}
<div class="login_form_container">
    <h3 class="subtitle_name_app">Aplicación de tareas</h3>
    <h1 class="title_registry">Iniciar sesión</h1>
    <form class="login_form" method="post" asp-action="Index">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="section_input">
                <label asp-for="Email" class="subtitle_input"></label>
                <input class="input_text_login" asp-for="Email" type="email" placeholder="correo@correo.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="section_input">
                <label asp-for="Password" class="form-label"></label>
                <input class="input_text_login" asp-for="Password" type="password" placeholder="contraseñasegura"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @if(@TempData["messageError"] != null)
            {            
                <span class="span_message_error">@TempData["messageError"]</span>
            }
            <div class="inputs_login_form">
                <input type="submit" value="Ingresar" class="button_submit" />
                <a asp-controller="SingUp" asp-action="Index" class="button_redirect" />Registrarse</a>
            </div>
            
    </form>
</div>
