
@import 'fonts';
@import 'colors';
@import 'elements';

* {
    margin: 0;
    padding: 0;
    font-family: $princcipal-font;
}

body {
    // Header section

    .header_layot_app {
        padding: 20px;
        background: linear-gradient(90deg, $primary-color, $secondary-color);

        .nav_header_app {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .subtitle_section_header {
                @include subtitles;
                color: #FFFF;
                font-size: 17px;
                text-decoration: none;
            }

            .title_section_header {
                color: #FFFF;
            }

            .btn_logout {
                @include button_secondary;
                text-decoration: none;
                color: $secondary-color;
            }
        }
    }
    // Login section
    .login_section {
        width: 100vw;
        height: 100vh;
        display: flex;

        .image_login {
            width: 70%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .login_form_container {
            width: 30%;
            padding: 40px;

            .title_registry {
                @include titles;
                margin: 0 0 20px 0;
            }

            .subtitle_name_app {
                @include subtitles;
            }

            .login_form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .section_input {
                    display: flex;
                    flex-direction: column;

                    .subtitle_input {
                        color: $gray-1;
                    }

                    .input_text_login {
                        @include input_text()
                    }
                }

                .inputs_login_form {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    .button_submit {
                        @include button_default();
                        flex: 1 1 auto;
                    }

                    .button_redirect {
                        @include button_secondary;
                        text-decoration: none;
                        flex: 1 1 auto;
                    }
                }

                .span_message_error {
                    @include message_error;
                }
            }
        }
    }
    // Sing In section

    .container_sing_in_form {
        width: 30%;
        padding: 40px;

        .title_registry {
            @include titles;
            margin: 0 0 20px 0;
        }

        .subtitle_name_app {
            @include subtitles;
        }

        .sing_in_form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .section_input {
                display: flex;
                flex-direction: column;

                .subtitle_input {
                    color: $gray-1;
                }

                .input_text_login {
                    @include input_text()
                }
            }

            .inputs_sing_in_form {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .button_submit {
                    @include button_default();
                    flex: 1 1 auto;
                }

                .button_redirect {
                    @include button_secondary;
                    text-decoration: none;
                    flex: 1 1 auto;
                }
            }
        }
    }
    // Home section

    .center_section_home {
        max-width: 1100px;
        margin: 2em auto;
        padding: 0 20px;
        display: flex;
        gap: 20px;

        .link_add_task {
            text-decoration: none;
            flex: 1 1 auto;
        }

        .section_form_add_task {
            flex: 1 1 auto;
            border-radius: 15px;
            overflow: hidden;
            background: $primary-color-ligth;

            .header_form_add_task {
                padding: 10px 20px;
                background: $primary-color;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    color: #FFFF;
                }

                .exit_link {
                    text-decoration: none;
                    font-weight: 700;
                    color: #FFFF;
                }
            }

            .form_add_task {
                display: flex;
                flex-direction: column;
                padding: 30px;
                gap: 10px;

                .inputs_ocults {
                    display: none;
                }

                .section_input {
                    display: flex;
                    flex-direction: column;

                    .subtitle_input {
                        color: $gray-1;
                    }

                    .input_text_login {
                        @include input_text()
                    }
                }

                .inputs_sing_in_form {
                    display: flex;
                    flex-direction: column;

                    .button_submit_add_task {
                        @include button_default()
                    }
                }
            }
        }

        .section_tasks_to_do {
            flex: 1 1 auto;
            border-radius: 15px;
            overflow: hidden;
            background: #fff2e9;
            max-width: 384px;


            .header_tasks_to_do {
                padding: 10px 20px;
                background: #eb8f4e;

                h1 {
                    color: #FFFF;
                }
            }

            .tasks_cards {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .message_not_found_tasks {
                    color: #e4b798;
                    font-size: 16px;
                    text-align: center;
                }

                .card_info_task {
                    padding: 10px;
                    border-radius: 10px;
                    background: #fce5d5;

                    .card_task_title {
                        color: $gray-1;
                        font-size: 17px;
                        margin: 0 0 5px 0;
                    }

                    .card_task_info {
                        color: $gray-2;
                        font-size: 14px;
                    }

                    .card_task_date {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0 0 0;
                        margin: 10px 0 0 0;
                        border-top: 1px solid #efd8c9;

                        .card_task_info_date {
                            font-size: 14px;
                            color: #767676;
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            .icon_clock {
                                width: 17px;
                                fill: #767676;
                            }
                        }

                        .actions_card_task {
                            display: flex;
                            gap: 10px;

                            a {
                                text-decoration: none;
                                color: #575757;
                                font-size: 13px;

                                &:hover {
                                    color: #1a2dc1;
                                }
                            }

                            a:last-child {
                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section_completed_tasks {
            flex: 1 1 auto;
            border-radius: 15px;
            overflow: hidden;
            background: #e9ffed;
            max-width: 384px;

            .header_completed_tasks {
                padding: 10px 20px;
                background: #3fc257;

                h1 {
                    color: #FFFF;
                }
            }

            .tasks_cards {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .message_not_found_tasks {
                    color: #a2e0ac;
                    font-size: 16px;
                    text-align: center;
                }

                .card_info_task {
                    padding: 10px;
                    border-radius: 10px;
                    background: #caf3d1;

                    .card_task_title {
                        color: $gray-1;
                        font-size: 17px;
                        margin: 0 0 5px 0;
                    }

                    .card_task_info {
                        color: $gray-2;
                        font-size: 14px;
                    }

                    .card_task_date {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0 0 0;
                        margin: 10px 0 0 0;
                        border-top: 1px solid #b8e4bf;

                        .card_task_info_date {
                            font-size: 14px;
                            color: #767676;
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            .icon_clock {
                                width: 17px;
                                fill: #767676;
                            }
                        }

                        .actions_card_task {
                            display: flex;
                            gap: 10px;

                            a {
                                text-decoration: none;
                                color: #575757;
                                font-size: 13px;

                                &:hover {
                                    color: #1a2dc1;
                                }
                            }

                            a:last-child {
                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section_dashboard_admin {
        max-width: 1100px;
        margin: 2em auto;

        .dashboard_title {
            color: $primary-color;
            margin: 0 0 1em 0;
        }

        .table_all_registers {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            overflow: hidden;
            background: $primary-color-ligth;
            border-collapse: collapse;

            thead {
                tr {

                    th {
                    padding: 10px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px;
                    }
                }

                tr:nth-child(odd) {
                    background-color: #e7d0f3;
                }

                tr:nth-child(even) {
                    background-color: #dbb8ed;
                }
            }
        }
    }
}
